.content-container {
    position: relative;
}

.nav-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    background: #eee;
    padding: 20px;

    .nav-item {
        height: 30px;
        line-height: 30px;
    }
}

.router-container {
    padding: 20px 20px 20px 200px;
    //background: #ddd;
}

.basic-demo {
    width: 600px;
    height: 600px;

    .sub-title {
        margin-top: 10px;
    }
}